<section class="relative bg-gray-900 mt-10 mb-10" aria-labelledby="contact-heading">
  <div class="absolute w-full h-1/2 bg-warm-gray-50" aria-hidden="true"></div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative bg-gray-900 shadow-xl">
      <h2 id="contact-heading" class="sr-only">Contact us</h2>

      <div class="grid grid-cols-1 lg:grid-cols-3">
        <!-- Contact Information Section -->
        <div class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-teal-500 to-teal-600 sm:px-10 xl:p-12">
          <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
            <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
              <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
              <defs>
                <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#fff"></stop>
                  <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
          <h3 class="text-lg font-semibold text-white">Contact Information</h3>
          <p class="mt-6 text-base text-teal-50 max-w-3xl leading-relaxed">
            Nous serions ravis de vous aider ! Si vous avez des questions, des préoccupations ou si vous avez besoin d’assistance, n’hésitez pas à nous contacter. Notre équipe est à votre écoute et prête à vous fournir les réponses dont vous avez besoin.
          </p>            
          <dl class="mt-8 space-y-6">
            <dt><span class="sr-only">Phone number</span></dt>
            <dd class="flex text-base text-teal-50">
              <a href="tel:+15551234567" class="flex text-base text-teal-50 hover:text-teal-200">
                <svg class="flex-shrink-0 w-6 h-6 text-teal-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                </svg>
                <span class="ml-3">+1 (555) 123-4567</span>
              </a>
            </dd>              
            <dt><span class="sr-only">Email</span></dt>
            <dd class="flex text-base text-teal-50">
              <a href="mailto:support@workcation.com" class="flex text-base text-teal-50 hover:text-teal-200">
                <svg class="flex-shrink-0 w-6 h-6 text-teal-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                <span class="ml-3">support&#64;workcation.com</span>
              </a>
            </dd>
          </dl>            
          <ul role="list" class="mt-8 flex space-x-12">
            <li>
              <a class="text-blue-600 hover:text-blue-500" href="#">
                <span class="sr-only">Facebook</span>
                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a class="text-gray-600 hover:text-gray-500" href="#">
                <span class="sr-only">GitHub</span>
                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a class="text-blue-600 hover:text-blue-500" href="#">
                <span class="sr-only">Twitter</span>
                <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M23.444 4.926a9.579 9.579 0 01-2.828.775A4.735 4.735 0 0022.87 3a9.358 9.358 0 01-2.915 1.11A4.684 4.684 0 0016.616 0c-2.545 0-4.61 2.06-4.61 4.603 0 .36.043.71.125 1.039a13.095 13.095 0 01-9.526-4.825 4.646 4.646 0 00-.623 2.32c0 1.604.825 3.02 2.075 3.85a4.592 4.592 0 01-2.08-.574v.057c0 2.237 1.59 4.103 3.71 4.53-.388.107-.794.164-1.21.164-.296 0-.586-.028-.867-.082.585 1.798 2.288 3.103 4.3 3.137-1.576 1.29-3.56 2.062-5.715 2.062-.372 0-.739-.021-1.104-.063 2.057 1.318 4.513 2.085 7.127 2.085 8.547 0 13.352-7.09 13.352-13.228 0-.201-.006-.402-.016-.601.914-.659 1.743-1.488 2.384-2.425z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
          <h3 class="text-lg text-1xl font-medium text-warm-gray-900">Pabiosoft</h3>
          <form (ngSubmit)="logFormData()" class="mt-6 grid grid-cols-1 gap-y-6 sm:gap-x-8">
            <div class="sm:col-span-2">
              <label for="fullName" class="block text-sm font-medium text-gray-700">Nom Complet</label>
              <input type="text" id="fullName" name="fullName" [(ngModel)]="contact.fullName" required class="mt-1 p-2 border border-gray-300 rounded-md w-full" />
              <div *ngIf="contact.fullName && !isFullNameValid()" class="text-red-500 text-xs mt-1">Le nom complet est requis</div>
            </div>
            <span class=" font-semibold text-gray-500">Email ou Numero de téléphone</span>
          
            <div class="sm:col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-6">
              <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="contact.email" class="mt-1 p-2 border border-gray-300 rounded-md w-full" />
                <div *ngIf="contact.email && !isEmailValid()" class="text-red-500 text-xs mt-1">Veuillez entrer une adresse e-mail valide</div>
              </div>
              <div>
                <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Numéro de téléphone</label>
                <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="contact.phoneNumber" class="mt-1 p-2 border border-gray-300 rounded-md w-full" />
                <div *ngIf="contact.phoneNumber && !isPhoneNumberValid()" class="text-red-500 text-xs mt-1">Le numéro de téléphone doit comporter 10 chiffres</div>
              </div>
            </div>
          
            <div class="sm:col-span-2">
              <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
              <textarea id="message" name="message" [(ngModel)]="contact.message" required class="mt-1 p-2 border border-gray-300 rounded-md w-full" rows="4"></textarea>
              <div *ngIf="contact.message && !isMessageValid()" class="text-red-500 text-xs mt-1">Le message est requis</div>
            </div>
          
            <div class="sm:col-span-2">
              <button type="submit" [disabled]="!isFormValid()" class="w-full py-2 px-4 bg-teal-500 text-white rounded-md hover:bg-teal-600">Envoyer le Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-50">
  <div class="bg-white p-8 rounded-lg shadow-lg w-1/2 md:w-1/3">
    <div class="flex justify-center mb-4">
      <i class="fas fa-check-circle text-teal-600 text-4xl"></i>
    </div>
    
    <h3 class="text-xl font-semibold text-gray-900">Message envoyé avec succès</h3>
    
    <p class="mt-4 text-base text-gray-700">
      Votre message a été envoyé avec succès. Nous vous remercions pour votre prise de contact. Nous reviendrons vers vous dans les plus brefs délais.
      Si votre demande nécessite une attention immédiate, n'hésitez pas à nous appeler. Nous apprécions votre patience et votre confiance.
    </p>
    
    <div class="mt-6 text-right">
      <button (click)="closeModal()" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
        Fermer
      </button>
    </div>
  </div>
</div>






<!-- <div class="relative max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <svg class="absolute z-0 top-0 right-0 transform -translate-y-16 translate-x-1/2 sm:translate-x-1/4 md:-translate-y-24 lg:-translate-y-72" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
        <defs>
          <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-warm-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
      </svg>
    </div>  -->