# Node modules
node_modules/

# IDE settings (IntelliJ, WebStorm, etc.)
.idea/

# Angular build and cache files
.angular
dist/
tmp/

# Environment variables and configuration
src/environments/environment*.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Compiled output
out/
build/

# Optional npm cache directory
.npm

# TypeScript cache
*.tsbuildinfo

# Compiled JavaScript files
*.js
*.d.ts
*.js.map

# Angular-specific files
.sass-cache/
coverage/
