<section>
    <!-- Titre global -->
    <div class="text-center mb-12 mt-2">
        <h1 class="text-4xl font-bold mb-4">
            La simplicité de nos logiciels ✨
        </h1>
        <span class="text-gray-400 text-lg">
        💡 Nos logiciels : des réponses ciblées pour des besoins clairs 🎯
    </span>
    </div>


    <!-- Logiciel 1 -->
    <section>
        <div class="bg-gradient-to-b from-gray-900 via-gray-800 to-black text-white min-h-screen relative">
            <!-- Badge Section -->
            <div class="absolute top-4 left-4 bg-blue-500 text-white text-sm font-bold px-3 py-1 rounded-full shadow-md flex items-center space-x-1">
                <span class="text-lg">#1</span>
                <span class="text-xs">FlexiStock</span>
            </div>

            <div class="container mx-auto py-16">
                <!-- Logiciel 1 details et description -->
                <div class="flex flex-col lg:flex-row items-center mb-16">
                    <div class="lg:w-1/2 px-4">
                        <p-image
                                src="./assets/logiciels/flexiStock-2.jpeg"
                                alt="Image"
                                class="rounded-lg shadow-lg"
                                [preview]="true" />
                    </div>
                    <div class="lg:w-1/2 px-4 text-center lg:text-left">
                        <h2 class="text-3xl font-semibold mb-4 flex items-center space-x-2">
                            <img
                                    src="https://img.icons8.com/?size=100&id=18522&format=png&color=000000"
                                    alt="Logo FlexiStock"
                                    class="w-8 h-8"
                            />
                            <span>FlexiStock</span>
                        </h2>
                        <p class="mb-6 text-gray-300">
                            FlexiStock est un logiciel de gestion de stock flexible et intuitif conçu pour faciliter le suivi des inventaires et optimiser les opérations logistiques. Avec une interface simple et des fonctionnalités avancées, FlexiStock aide les équipes à surveiller les niveaux de stock, passer des commandes auprès des fournisseurs, et assurer une gestion efficace en temps réel.
                        </p>
                        <!-- Badges technologies -->
                        <div class="flex flex-wrap items-center space-x-4 mb-6">
                            <img src="https://img.icons8.com/color/48/symfony.png" alt="Symfony" class="h-8 w-8" />
                            <img src="https://img.icons8.com/color/48/docker.png" alt="Docker" class="h-8 w-8" />
                            <img src="https://img.icons8.com/?size=100&id=38561&format=png&color=000000" alt="PostgreSQL" class="h-8 w-8" />
                            <img src="https://img.icons8.com/?size=100&id=108784&format=png&color=000000" alt="JavaScript" class="h-8 w-8" />
                            <img src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000" alt="GitHub action" class="h-8 w-8" />
                            <img src="https://img.icons8.com/?size=100&id=4PiNHtUJVbLs&format=png&color=000000" alt="Tailwind" class="h-8 w-8" />
                        </div>

                        <!-- Section développeurs -->
                        <div class="bg-gray-800 p-4 rounded-lg shadow-md">
                            <h3 class="text-lg font-semibold mb-3">Développeurs impliqués</h3>
                            <ul class="space-y-2">
                                <li class="flex items-center">
                                    <img
                                            src="https://img.icons8.com/?size=100&id=23242&format=png&color=000000"
                                            alt="Avatar développeur 1"
                                            class="w-8 h-8 rounded-full mr-3"
                                    />
                                    <span class="text-gray-300">Diallo Abdoulaye</span>
                                </li>
                                <li class="flex items-center">
                                    <img
                                            src="https://img.icons8.com/?size=100&id=23242&format=png&color=000000"
                                            alt="Avatar développeur 2"
                                            class="w-8 h-8 rounded-full mr-3"
                                    />
                                    <span class="text-gray-300">Baldé Ismael</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Logiciel 1 fonctionnalité -->
                <div class="flex flex-col lg:flex-row items-center mb-16">
                    <div class="lg:w-1/2 px-4 order-last lg:order-first">
                        <h2 class="text-3xl font-semibold mb-4 flex items-center space-x-2">
                            <img
                                    src="https://img.icons8.com/?size=100&id=18522&format=png&color=000000"
                                    alt="Logo FlexiStock"
                                    class="w-8 h-8"
                            />
                            <span>FlexiStock</span>
                        </h2>

                        <div class="text-white py-6 px-4  rounded-lg shadow-md">
                            <p class="mb-4 text-gray-300 text-lg font-semibold">Quelques Fonctionnalités de FlexiStock :</p>
                            <div class="overflow-x-auto">
                                <table class="min-w-full bg-gray-800 border border-gray-700 rounded-lg shadow-md">
                                    <thead>
                                    <tr>
                                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-left text-sm font-medium text-gray-300 uppercase tracking-wider">
                                            Fonctionnalité
                                        </th>
                                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-left text-sm font-medium text-gray-300 uppercase tracking-wider">
                                            Description
                                        </th>
                                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-center text-sm font-medium text-gray-300 uppercase tracking-wider">
                                            État Actuel
                                        </th>
                                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-center text-sm font-medium text-gray-300 uppercase tracking-wider">
                                            État Futur
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Row 1 -->
                                    <tr>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Catalogue des Équipements</td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-400">
                                            Gestion complète des équipements avec détails et catégorisation.
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center">
                                            <span class="text-green-500 text-xl">✅</span>
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center"></td>
                                    </tr>
                                    <!-- Row 2 -->
                                    <tr>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Gestion des Stocks</td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-400">
                                            Suivi en temps réel avec alertes de stock bas.
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center">
                                            <span class="text-green-500 text-xl">✅</span>
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center"></td>
                                    </tr>
                                    <!-- Row 3 -->
                                    <tr>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Historique des Mouvements</td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-400">
                                            Enregistrement et visualisation des mouvements de stock.
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center">
                                            <span class="text-gray-500 text-xl">⬜</span>
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center">
                                            <span class="text-blue-500 text-xl">🔄</span>
                                        </td>
                                    </tr>
                                    <!-- Row 4 -->
                                    <tr>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Gestion des Demandes</td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-400">
                                            Soumission, validation et suivi des demandes d'équipements.
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center">
                                            <span class="text-green-500 text-xl">✅</span>
                                        </td>
                                        <td class="px-6 py-4 border-b border-gray-700 text-center"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="flex flex-col sm:flex-row justify-center lg:justify-start mt-4">
                            <a
                                    href="javascript:void(0)"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-lg"
                                    (click)="scrollToSection('plans-de-licences')"
                            >
                                Acquérir ce logiciel
                            </a>
                        </div>
                    </div>
                    <div class="lg:w-1/2 px-4">

                        <p-image
                                src="./assets/logiciels/flexiStock-3.jpeg"
                                alt="Image"
                                class="rounded-lg shadow-lg"
                                [preview]="true" />
                    </div>
                </div>

            </div>
        </div>
    </section>

<!--    Plan et prix-->
    <section id="plans-de-licences" class="bg-gradient-to-b from-gray-800 via-gray-900 to-black text-white py-16">
        <div class="container mx-auto">
            <h2 class="text-4xl font-bold text-center mb-8"> Licences</h2>
            <p class="text-center text-gray-300 mb-12">
                Comparez nos différents plans et choisissez celui qui correspond à vos besoins.
            </p>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-gray-800 border border-gray-700 rounded-lg shadow-md">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-left text-sm font-medium text-gray-300 uppercase tracking-wider">
                            Fonctionnalité
                        </th>
                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-center text-sm font-medium text-gray-300 uppercase tracking-wider">
                            Basique
                        </th>
                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-center text-sm font-medium text-gray-300 uppercase tracking-wider">
                            Pro
                        </th>
                        <th class="px-6 py-3 border-b border-gray-700 bg-gray-700 text-center text-sm font-medium text-gray-300 uppercase tracking-wider">
                            Entreprise
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Row 1 -->
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Accès au logiciel principal</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                    </tr>
                    <!-- Row 2 -->
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Support technique</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">Standard</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">Standard</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">Prioritaire </td>
                    </tr>
                    <!-- Row 3 -->
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Mises à jour</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">Standard</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">Standard</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">Prioritaires</td>
                    </tr>
                    <!-- Row 4 -->
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Installation Locale (1 Poste)</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">❌</td>
                    </tr>
                    <!-- Row 5 -->
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Installation Cloud</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">❌</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                    </tr>
                    <!-- Row 6 -->
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Installation On-Premise</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">❌</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">❌</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">✅</td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 border-b border-gray-700 text-sm text-gray-300">Prix</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">~ 15€/mois</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">~ 49€/mois</td>
                        <td class="px-6 py-4 border-b border-gray-700 text-center">~ 99€/mois</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- Contact Button -->
            <div class="flex justify-center mt-8">
                <a
                        href="/contact"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-md"
                >
                    Nous Contacter
                </a>
            </div>
        </div>
    </section>



</section>
