

<header class="w-full shadow-lg " style="position: fixed; top: 0; z-index: 50;">
  <p-menubar
          [model]="items"
          styleClass="bg-gradient-to-r from-gray-800 via-gray-900 to-gray-800 text-white "
          [style]="{
      'border-radius': '0',
      'padding': '0 1rem',
      'box-shadow': '0 4px 6px rgba(0, 0, 0, 0.1)'
    }"
  >
    <ng-template pTemplate="start">
      <div class="flex items-center space-x-2">
        <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="..." fill="var(--blue-500)" />
        </svg>
        <span routerLink="/" class="text-lg font-bold ml-2 cursor-pointer">Pabiosoft</span>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a
              pRipple
              class="flex items-center p-menuitem-link  cursor-pointer"
              [ngStyle]="{
              'padding': '0.5rem 1rem',
              'color': '#fff'
               }"
              [routerLink]="item.link"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [value]="item.badge" class="ml-auto" />
      </a>

    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex items-center space-x-4">
        <div class="relative">
          <app-search></app-search>
        </div>
        <div class="rounded-full   p-1 shadow-lg">
          <p-avatar
                  image="./assets/logo/pabiosoft-banner.png"
                  shape="circle"
                  class="cursor-pointer"
                  [ngStyle]="{ 'border': '2px solid white' }"
          ></p-avatar>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</header>










<!--OLD-->

<!--<header class="w-full shadow-lg">-->
<!--  <p-menubar [model]="items"-->
<!--             styleClass="bg-gradient-to-r from-gray-800 via-gray-900 to-gray-800 text-white"-->
<!--             [style]="{-->
<!--      'border-radius': '0',-->
<!--      'padding': '0 1rem',-->
<!--      'box-shadow': '0 4px 6px rgba(0, 0, 0, 0.1)'-->
<!--    }"-->
<!--  >-->
<!--    <ng-template   pTemplate="start">-->
<!--      <svg width="33" height="35" viewBox="0 0 33 35" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color)" />-->
<!--        <mask id="mask0_1_36" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="33">-->
<!--          <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        </mask>-->
<!--        <g mask="url(#mask0_1_36)">-->
<!--          <path fill-rule="evenodd" clip-rule="evenodd" d="..." />-->
<!--        </g>-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        <path-->
<!--                fill-rule="evenodd"-->
<!--                clip-rule="evenodd"-->
<!--                d="..."-->
<!--                fill="var(&#45;&#45;primary-color-text)"-->
<!--        />-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        <path-->
<!--                fill-rule="evenodd"-->
<!--                clip-rule="evenodd"-->
<!--                d="..."-->
<!--                fill="var(&#45;&#45;primary-color-text)"-->
<!--        />-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--        <path d="..." fill="var(&#45;&#45;primary-color-text)" />-->
<!--      </svg>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="item" let-item let-root="root">-->
<!--      <a pRipple class="flex align-items-center p-menuitem-link">-->
<!--        <span [class]="item.icon"></span>-->
<!--        <span class="ml-2">{{ item.label }}</span>-->
<!--        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />-->
<!--        <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>-->
<!--        <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>-->
<!--      </a>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="end">-->
<!--      <div class="flex align-items-center gap-2">-->
<!--        <div class="relative w-full text-gray-400 focus-within:text-gray-600">-->
<!--          <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none" aria-hidden="true">-->
<!--            &lt;!&ndash; Heroicon name: solid/search &ndash;&gt;-->
<!--            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
<!--              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />-->
<!--            </svg>-->
<!--          </div>-->
<!--          <input id="search-field" name="search-field" class="block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-0 focus:border-transparent sm:text-sm"-->
<!--                 placeholder="Search ⌘ + k" type="search">-->
<!--        </div>-->
<!--        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />-->
<!--      </div>-->

<!--    </ng-template>-->
<!--  </p-menubar>-->

<!--</header>-->
