<div class="min-h-screen flex flex-col">
  <app-header/>
  <!-- Main Content and Router Outlet -->
  <main class="flex-1 flex flex-col">
    <div class="flex-1 pb-8">
      <div class="bg-white shadow">
        <div class="px-4 sm:px-6 lg:px-8 max-w-screen-xl mx-auto"> <!-- Constraining width here -->
          <!-- Content goes here -->
        </div>
      </div>
      <!-- Router Outlet for dynamic content -->
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Footer -->
  <footer class="w-full text-gray-300 py-4 text-center">
    <app-footer/>
  </footer>
</div>


<!--<div class="min-h-full">-->
<!--  <app-sidebar></app-sidebar>-->
<!--  <div class="lg:pl-64 flex flex-col flex-1">-->
<!--    <app-header></app-header>-->
<!--    <main class="flex-1 pb-8">-->
<!--      <div class="bg-white shadow">-->
<!--        <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">-->
<!--        </div>-->
<!--      </div>-->
<!--      <router-outlet></router-outlet>-->
<!--    </main>-->
<!--  </div>-->
<!--</div>-->

