<div class="bg-gray-900 text-gray-600 p-8 ">
    <app-resume-profils [article]="article" />
</div>

<div class="flex max-w-full mx-auto mx-6 mt-4">
  <!-- Sidebar spécifique pour les chapitres de l'article -->
  <div class="w-1/6 bg-white text-gray-100 p-4 h-screen sticky top-0 overflow-y-auto">
    <app-sidebar-detail
            [article]="article"
            [currentChapterIndex]="currentChapterIndex">
    </app-sidebar-detail>
  </div>



  <!-- Contenu principal de l'article -->
  <div #articleContent class="w-4/5 bg-gray-900 text-gray-100 p-8 flex flex-col justify-between">
    <div class="flex-grow">
      <div *ngIf="currentChapterIndex === 0" class="mb-6">
        <h1 class="text-3xl font-bold mb-4">{{ article?.coverText }}</h1>
        <div class="flex justify-center">
          <img [src]="article?.coverImageUrl" alt="Cover Image" class="w-1/2 h-auto mb-4 rounded-lg shadow-lg">
        </div>
      </div>


<!--      <div *ngIf="currentChapterIndex < (article?.chapters.length || 0)" class="mb-6">-->
<!--        <h2 class="text-xl font-semibold mb-2">{{ article?.chapters[currentChapterIndex].title }}</h2>-->
<!--        <p class="text-justify">{{ article?.chapters[currentChapterIndex].content }}</p>-->
<!--      </div>-->

      <div   *ngFor="let section of article?.chapters[currentChapterIndex]?.content">
        <ng-container [ngSwitch]="section.type">
          <p *ngSwitchCase="'text'">{{ section.value }}</p>
          <pre class="code-snippet-card" *ngSwitchCase="'code'">
            <code class="language-java" >{{ section.value }}</code>
          </pre>
        </ng-container>

      </div>
    </div>

    <!-- Navigation entre les chapitres -->
    <div class="flex justify-between mt-6 pt-4 border-t border-gray-700">
      <button
              *ngIf="currentChapterIndex > 0"
              (click)="previousChapter()"
              class="px-4 py-2 bg-cyan-600 text-white rounded-md hover:bg-cyan-700 transition">
        Précédent
      </button>

      <button
              *ngIf="currentChapterIndex < (article?.chapters.length || 0) - 1"
              (click)="nextChapter()"
              class="px-4 py-2 bg-cyan-600 text-white rounded-md hover:bg-cyan-700 transition">
        Suivant
      </button>

      <button
              *ngIf="currentChapterIndex === (article?.chapters.length || 0) - 1"
              class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 transition">
        Fin de l'article
      </button>
    </div>
  </div>
</div>



