

<!--    <p-menu  [model]="items" >-->
<!--        <ng-template pTemplate="item" let-item>-->
<!--            <a class="p-menuitem-link cursor-pointer" (click)="navigateToChapter(item)">-->
<!--                <span [class]="item.icon"></span>-->
<!--                <span class="ml-2">{{ item.label }}</span>-->
<!--            </a>-->
<!--        </ng-template>-->
<!--    </p-menu>-->

<!--<div class="card flex justify-content-center">-->
<!--    <p-menu #menu [model]="items" [popup]="true">-->
<!--        <ng-template pTemplate="item" let-item>-->
<!--            <a class="p-menuitem-link cursor-pointer" (click)="navigateToChapter(item)">-->
<!--                <span [class]="item.icon"></span>-->
<!--                <span class="ml-2">{{ item.label }}</span>-->
<!--            </a>-->
<!--        </ng-template>-->
<!--    </p-menu>-->
<!--    <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"/>-->
<!--</div>-->



<aside class="w-1/4 bg-gray-800 text-gray-100 p-4 rounded-l-lg">
    <h2 class="text-xl font-bold mb-4">Sommaire</h2>
    <ul class="space-y-2">
        <li
                *ngFor="let chapter of article?.chapters; let i = index"
                (click)="goToChapter(i)"
                [class.bg-gray-500]="i === currentChapterIndex"
                class="cursor-pointer rounded hover:bg-cyan-600 transition">
      <span class="block text-base text-left">
        Chapitre {{ i + 1 }}: {{ chapter.title }}
      </span>
        </li>
    </ul>
</aside>
