.post-text {
  font-family: 'Georgia', serif; /* Police adaptée pour une lecture longue */
  font-size: 1.125rem; /* Taille de police confortable */
  line-height: 1.6; /* Espacement suffisant entre les lignes */
  //color: #333; /* Texte en noir doux pour moins de fatigue visuelle */
  color: #ffffff; /* Texte en noir doux pour moins de fatigue visuelle */
  margin: 1rem 0;
  padding: 1rem;
  //background-color: #fff; /* Contexte blanc pour une lisibilité optimale */
  border-radius: 8px; /* Coins arrondis */
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour contraste */
}

.post-text .content p {
  margin-bottom: 1rem; /* Espacement entre les paragraphes */
  text-align: justify; /* Alignement justifié pour une meilleure structure visuelle */
}

.post-text .content p:first-of-type {
  text-indent: 2em; /* Indentation du premier paragraphe */
}
